/* -------------------------- CONTENTS -------------------- 

1.0 --- GLOBAL
    1.1 ---- BODY / TYPOGRAPHY
2.0 --- HEADER
    2.1 --- MAIN NAVIGATION
3.0 --- BUILDING BLOCKS
    3.1 --- HERO BLOCK
    3.1.a - HERO IMG OVERLAY BLOCK
    3.2 --- MAIN CONTAINER BLOCK
4.0 --- FOOTER
*/

 /* 1.0 ----------------------- GLOBAL ------------------------------ */
html {
    font-family: 'Lato';
}

 a {
  text-decoration: none;
}

ul,
nav {
  list-style: none;
}

li,
a:hover,
a:focus {
  background: none !important;
  cursor: pointer;
}

/* 1.1 ------------------------ BODY / TYPOGRAPHY -------------------- */
/* 2.0 ------------------------ HEADER ------------------------------- */
/* 2.1 ------------------------ MAIN NAVIGATION ---------------------- */
nav {
    background-color: #000;
    color: white;
    height: 50px;
}

.navbar-brand img {
    color: #fff;
    height: 30px;
}

.nav-link {
    color: white !important;
    font-size: .825rem;
    text-decoration: uppercase;
}

.navbar-toggler {
    color: #fff !important;
    font-size: 16px;
}

button .navbar-toggler {
    height: 15px !important;
    border: transparent;
}

/* 3.0 ------------------------ BUILDING BLOCKS ---------------------- */
/* 3.1 ------------------------ HERO BLOCK --------------------------- */
@media (min-width: 576px) {
    .black-fri-hero {
        margin-left: 0.625rem;
    }
}

.hero {
    background-image: url('/Users/marynorthrup/workspace/SOUNDBOKS/assets/images/mountains-desktop.jpeg');
    position: relative;
    width: 100%;
    height: 28rem;
    background-size: cover;
}

.hero-content .row {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 2rem;
}

.hero-content .col-12 {
    margin: 0.625rem 0;
}

.hero-title {
    font-family: 'League Spartan';
    font-style: bold;
    font-size: 48px;
    line-height: 60px;
    align-content: left;
    padding-left: 0.625rem;
}

.black-fri-hero {
    background: linear-gradient(#FD0202, rgba(253, 2, 2, 0));
}

.black-fri-text {
    font-family: 'Lato';
    font-style: medium;
    font-size: 1.6rem;
}

.hero-text  p {
    margin-top: 0.625rem;
    font-style: normal;
}

/* 3.1.a ---------------------- HERO IMG OVERLAY -------------------- */
@media (min-width: 0px) and (max-width: 499px) {
    .background-image-overlay img {
        height: 66vw;
        top: -2rem;
        left: 45vw;
    }
}

@media (min-width: 500px) and (max-width: 580px) {
    .background-image-overlay img {
        height: 57vw;
        top: -4rem;
        left: 45vw;

    }
}

@media (min-width: 581px) and (max-width: 646px) {
    .background-image-overlay img {
        height: 57vw;
        top: -7rem;
        left: 53vw;

    }
}

@media (min-width: 647px) and (max-width: 767px) {
    .background-image-overlay img {
        height: 50vw;
        top: -7rem;
        left: 48vw;
    }
}

@media (min-width: 768px) {
    .background-image-overlay img {
        height: 46vw;
        top: -6rem;
        left: 53vw;
    }
}

@media (min-width: 900px) {
    .background-image-overlay img {
        height: 40vw;
        top: -9rem;
        left: 53vw;
    }
}

@media (min-width: 992px) {
    .background-image-overlay img {
        height: 48vw;
        top: -15rem;
        left: 55vw;
    }
}

@media (min-width: 1000px) {
    .background-image-overlay img {
        height: 45vw;
        top: -15rem;
        left: 55vw;
    }
}

@media (min-width: 1142px) {
    .background-image-overlay img {
        height: 25vw;
        top: -11rem;
        left: 45vw;
    }
}

.background-image-overlay img {
    position: absolute;
    z-index: 2;
}

/* 3.2 ------------------------ MAIN CONTAINER BLOCK ---------------- */
.main-container {
    background-color: #EDEDED;
    padding-top: 3.25rem;
    padding-bottom: 6.25rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  max-width: 1400px;
}

.products .item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 300px;
  width: 350px;
  margin: 20px;
  padding: 0 25px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: #fff;
}

.products .item .title {
  font-size: 20px;
  font-family: 'Lato';
  line-height: 50px;
  font-weight: 800;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}

.products .item img {
  display: inline-block;
  max-width: 50%;
}

.products .item .content-box {
  display: inline-block;
  width: 50%;
  padding-left: 14px;
}

.products .item .content-box .original-price {
  color: #212121;
  font-size: 14px;
  text-decoration: line-through;
}

.products .item .content-box .new-price {
  color: #f00;
  font-size: 18px;
}

.products .item .content-box ul li {
  list-style-type: circle;
}

.products .item .content-box img.small-image {
  width: 50px;
  height: 50px;
}

/* 4.0 ------------------------ FOOTER ----------------------------- */
.footer {
    background-color: #333333;
    color: #fff;
}