/* -------------------------- CONTENTS -------------------- 

1.0 --- GLOBAL
    1.1 ---- BODY / TYPOGRAPHY
2.0 --- HEADER
    2.1 --- MAIN NAVIGATION
3.0 --- BUILDING BLOCKS
    3.1 --- HERO BLOCK
    3.1.a - HERO IMG OVERLAY BLOCK
    3.2 --- MAIN CONTAINER BLOCK
4.0 --- FOOTER
*/

 /* 1.0 ----------------------- GLOBAL ------------------------------ */
a {
  text-decoration: none;
}

ul,
nav {
  list-style: none;
}

li,
a:hover,
a:focus {
  background: none !important;
  cursor: pointer;
}

/* 1.1 ------------------------ BODY / TYPOGRAPHY -------------------- */
/* 2.0 ------------------------ HEADER ------------------------------- */
/* 2.1 ------------------------ MAIN NAVIGATION ---------------------- */
nav {
    background-color: #000;
    color: white;
    height: 35px;
}

.navbar-brand img {
    color: #fff;
    height: 20px;
}

.nav-link {
    color: white !important;
    font-size: .825rem;
    text-decoration: uppercase;
}

.navbar-toggler {
    color: #fff !important;
    font-size: 16px;
}

button .navbar-toggler {
    height: 15px !important;
    border: transparent;
}

/* 3.0 ------------------------ BUILDING BLOCKS ---------------------- */
/* 3.1 ------------------------ HERO BLOCK --------------------------- */

.hero {
    background-image: url('/Users/marynorthrup/workspace/SOUNDBOKS/assets/images/mountains1.jpg');
    position: relative;
    width: 100%;
    height: 28rem;
    background-size: cover;
}

.hero-content .row {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 2rem;
}

.hero-content .col-12 {
    margin: 0.625rem 0;
}

.hero-title {
    font-family: 'League Spartan';
    font-style: bold;
    font-size: 48px;
    line-height: 60px;
    align-content: left;
}

.black-fri-hero {
    background: linear-gradient(#FD0202, rgba(253, 2, 2, 0));
    margin-left: 0.625rem;
}

.black-fri-text {
    font-family: 'Lato';
    font-style: medium;
    font-size: 1.6rem;
}

.hero-text  p {
    margin-top: 0.625rem;
    font-style: normal;
}

/* 3.1.a ---------------------- HERO IMG OVERLAY -------------------- */

.background-image-overlay img {
    position: absolute;
    height: 32%;
    top: 7rem;
    left: 7rem;
}

/* 3.2 ------------------------ MAIN CONTAINER BLOCK ---------------- */
.main-container {
    background-color: #EDEDED;
}

/* 4.0 ------------------------ FOOTER ----------------------------- */
.footer {
    background-color: #333333;
    color: #fff;
}